<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")"
                rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")"
                type="text/javascript"></script>
        
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Photo Share", "Index", "Home")
                        
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Add Photo", "Index", "Photo")</li>
                            <li>@Html.ActionLink("Photo Share", "PhotoShare", "Photo")</li>
                            
                           
                        </ul>
                    </nav>
                    @{var searchString = (string)ViewBag.Search;}
                    @using (Html.BeginForm("Index", "User", FormMethod.Post, new { @class = "Search" }))
                    {
                        @Html.TextBox("searchString", searchString ?? "", new { @class = "input-medium search-query" })
                        <button type="submit" class="btn">Поиск</button> 
                         
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", false)
    </body>
</html>