@using PhotoShare.LogicService
@model PhotoShare.Models.LocalPasswordModel

<script type="text/javascript" src="~/Scripts/DropZone.js"></script>
<h3>
    Current avatar

</h3>

@{
    var userBl = new UserBl();
    var currentUser = userBl.GetCurrentUser();
    if (currentUser.Avatar != null)
    {
        if (currentUser.Avatar != null)
        {
            @Html.Raw("<img class = 'preview' style='max-height: 100px;max-width: 100px; padding: 5px;' src=\"data:image/jpeg;base64,"
                      + Convert.ToBase64String(currentUser.Avatar) + "\" />")
        }
    }
    else
    {
        <img src="/Images/defaultAvatar.jpg" height="100px" width="100px" />
    }

}





@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

        <div id="dropzone">
        <input name="file" type="file" />
    </div>

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Update" />
    </fieldset>
}