@using PhotoShare.Domain
@model PhotoShare.Domain.User

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/my_scripts.js"></script>


@using (Html.BeginForm("UserProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data"}))
       
{
           <div>
               <p>
                   <input type="hidden" name="Id" value=@Model.Id />
                   
                   <a href="@Url.Action("AddPhoto", "Photo")">
                       <button> @Html.Label("Добавить новое изображение")</button>
                   </a>
               </p>
           </div>
    @Html.Label("Вы можете удалить фотографии или изменить описание")
    
     if (Model != null)
      {

         if(Model != null)
    {
        if(Model.Photos != null)
        {
            if (Model.Photos.Any())
            {
                foreach (var photo in Model.Photos)
                {
                    <form id="photoForm">
                        
                        @Html.Raw("<img class = 'preview' style='max-height: 20vh;max-width: 70vw;' " +
                                  "src=\"data:image/jpeg;base64,"
                                  + Convert.ToBase64String(photo.Image) + "\" />")
                        <p>
                            @Html.Label("Current desription: " + photo.Description)
                            @Html.ActionLink("Edit description", "EditDescription", "User", new {id = photo.Id}, null)
                            @Html.ActionLink("Delete", "DeleteImage", "User", new {id = photo.Id},null)
                        </p>
                    </form>
                }
            }
}
}
}
    }

    

        
