@using PhotoShare.Domain
@model PhotoShare.Domain.User

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/my_scripts.js"></script>


@using (Html.BeginForm("UserProfile", "User", FormMethod.Post))
       
{
    <div>
        <p>
            <input type="hidden" name="Id" value=@Model.Id />
                   
            <a href="@Url.Action("AddPhoto", "Photo")">
                <button> @Html.Label("Добавить новое изображение")</button>
            </a>
        </p>
    </div>
    
     if (Model != null)
      {

         if(Model != null)
        {
        if(Model.Photos != null)
        {
            if (Model.Photos.Any())
            {
                @Html.Label("Вы можете удалить фотографии или изменить описание")
                foreach (var photo in Model.Photos)
                {
                    @Html.Partial("_EditDescriptionPartial", photo)
                }
            }
            else
            {
                 @Html.Label("У Вас сейчас нет фотографий")
            }
          }
        }
    }
}


    

        
