@model PhotoShare.Domain.Photo
@{
    ViewBag.Title = "EditDescription";
}




@Html.Raw("<img class = 'preview' style='max-height: 50vh;max-width: 70vw;' src=\"data:image/jpeg;base64,"
                  + Convert.ToBase64String(Model.Image) + "\" />")


    @using (Html.BeginForm("EditDescription", "Photo", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => Model.Id)
        <div>
            @Html.EditorFor(p=>p.Description)
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div>
            <input type="submit" value="Изменить описание">
        </div>
     }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




