@{
    ViewBag.Title = "Index";
}

<h2>Администрирование</h2>

<ul>
    <li>@Html.ActionLink("Users", "Users","Administrator")</li>
    <li>@Html.ActionLink("Comments", "Comments", "Administrator")</li>
    <li>@Html.ActionLink("Posts", "Posts", "Administrator")</li>
    <li>@Html.ActionLink("Static Pages", "StaticPages", "Administrator")</li>
    <li>@Html.ActionLink("Roles", "RoleCreate", "Account")</li>
</ul>

